body{
	background-color: #F2F2F2;
}
header{
	width: 650px;
	margin: auto;
	background-color: #03a9f4;
	margin-top: 15px;
}

header input[name="logout"]{
	position: relative;
	width: 80px;
	left: 570px;
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	background-color: inherit;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: azure;
	font-size: 15px;
	outline: none;
}
header form[method="get"]{
	width: 60px;
}
header form[method="post"]
	margin: 0px !important;
}
header input:active{
	background-color: #088A29;
}

header input:hover{
	background-color: #4FC3F7;
}
.icon{
	color: #fff;
}
.info{
	margin: auto;
	width: 650px;
	background: #fff;
	height: auto;
	text-align: center;
	background-color: #03a9f4;
}
.user_name {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 25px;
	color: #fff;
}
.user_location{
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user_location .location{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	margin-left: 5px;
}
#open{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 19px;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	background-color: #fff;
	cursor: pointer;
}
#info {
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
	display: block;
}
#info table{
	margin: auto;
	margin-bottom: 10px;
}
.user_info_title{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
.user_title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
#info tr{
	padding: 5px;
}

.photo{
	margin-bottom: 10px;
	height: 150px;
	overflow: hidden;
}

.photo img{
	max-width: 150px;
	width: 150px;
	height: 150px;
	border-radius: 50% 50%;
}

.lang{
	position: absolute;
	top: 15px;
	right: 30px;
}
.lang input[name="ru"]{
	position: relative;
	width: 32px;
	height: 32px;
	border: none;
	background-color: inherit;
	color: inherit;
	background-image: url(img/russia-flag-32x32.png);
	background-repeat: no-repeat;
	outline: none;
}

.lang input[name="en"]{
	position: relative;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: none;
	background-color: inherit;
	color: inherit;
	background-image: url(img/united.png);
	background-repeat: no-repeat;
	outline: none;
}
form {
	margin: 0px;
}
